.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.label {
    -fx-font-size: 24;
    -fx-font-family: Cablibri;
}

.radio-button{
    -fx-font-size: 14;
}